
<h1>Team Motto: <%=@teamName%></h1>
<h2>Team Motto: <%=@teamMotto%></h2>

<h2>Hero Name: <%=@membersArray[0][:name]%></h2>
<h3>Hero Power: <%=@membersArray[0][:power]%></h3>
<h3>Hero Biography: <%=@membersArray[0][:bio]%></h3>

<h2>Hero Name: <%=@membersArray[1][:name]%></h2>
<h3>Hero Power: <%=@membersArray[1][:power]%></h3>
<h3>Hero Biography: <%=@membersArray[1][:bio]%></h3>

<h2>Hero Name: <%=@membersArray[2][:name]%></h2>
<h3>Hero Power: <%=@membersArray[2][:power]%></h3>
<h3>Hero Biography: <%=@membersArray[2][:bio]%></h3>